<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Request ip</th>
    <th>Request data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%= click.url %></td>
    <td><%= click.request_ip %></td>
    <td><%= click.created_at %></td>
   <td><%= link_to 'Show', click %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Click', new_click_path %>
